# Copia este archivo a .env.local y completa los valores

# Farcaster Configuration
FARCASTER_MNEMONIC="orphan fiction dad mercy marine oval regret below erase eight parrot flash refuse vendor ivory electric cherry almost soup satoshi virus regret oak dolphin"
NEXT_PUBLIC_URL="https://c61058eb15dd.ngrok-free.app"

# Farcaster Auth (se completarán después del signing)
FARCASTER_HEADER=""
FARCASTER_PAYLOAD=""
FARCASTER_SIGNATURE=""

# Database
DATABASE_URL="postgresql://postgres:123456@localhost:5433/hackaton?schema=public"

# JWT Secret
JWT_SECRET="tu_jwt_secret_super_seguro_aqui_12345"
